{% extends "index.html" %}

{% block content %}
<form action="/updateprofile", method="get">
  <fieldset class="form-group">
    <legend>Update Contact Info</legend>

    <div class="form-group col-3">
      <label class="form-control-label" for="person_id">Person ID</label>
      <input class="form-control" type="text" name ="id", id="person_id" value="{{ person['person_id'][0] }}">
    </div><!-- form-group -->

    <div class="form-group col-3">
      <label class="form-control-label" for="first_name">First Name</label>
      <input class="form-control" type="text" name ="first_name", id="first_name" value="{{ person['first_name'][0] }}">
    </div><!-- form-group -->

    <div class="form-group col-3">
      <label class="form-control-label" for="last_name">Last Name</label>
      <input class="form-control" type="text" name ="last_name", id="last_name" value="{{ person['last_name'][0] }}">
    </div><!-- form-group -->

  </fieldset><!-- fieldset -->
  <button class="btn btn-primary" type="submit">Update Profile</button>
</form>
{% endblock %}
